#logobranca {
    width: 100px;
    margin-left: 20px;
}

#header {
    background-color: coral;
}

#links {
    margin-top: 10px;
}

#pratos {
    width: 10px;
}

#footer {
    background-color: coral
}